<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Referroll</h3>
          <ul class="nav masthead-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Sign Up</a></li>
            <% if current_user %>
              <li>Signed in as <%= current_user.name %>
              <%= link_to "Sign out", sign_out_path %></li>
            <% else %>
              <li><a href="#" data-toggle="modal" data-target="#signInModal">Sign In</a></li>
            <% end %>
          </ul>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Get your Talent Referral Program ROLLING!</h1>
        <br>
        <!-- <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p> -->
        <p class="lead">
          <a href="#" class="btn btn-lg btn-warning">Learn more</a>
        </p>
      </div>

      <div class="mastfoot">
        <div class="inner">
          <p>Copyright 2014 by <a href="http://brandnewcode.com">Brand New Code</a>.</p>
        </div>
      </div>

    </div>

  </div>

</div>

<!-- Sign In Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="signInModalLabel">Sign In</h4>
      </div>
      <div class="modal-body">
        <%= link_to raw("<i class='fa fa-fw fa-linkedin-square'></i> Sign in with Linkedin"), "/auth/linkedin", class: "btn btn-lg btn-primary" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>
